
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  background-color: #f7f7f7;
}


.list {
  height: 100%;
}

.places {
	padding: 1em 1em 1em 0;
}

.places .place {
	padding: 2em;
	background-color: #fff;
	border-bottom: 3px solid #eee;
	margin-bottom: 2em;
}

.places .place .description {
	font-size: 0.9em;
	margin-bottom: 1em;
}

.places .place .adress {
	font-size: 0.9em;
}